/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@font-face {
  font-family: Roboto;
  src: url("/assets/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0px;
  width: 100%;
  font-family: Roboto;
  color: white; }

#search_nav {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #878787;
  background-color: white;
  height: 40px; }

#search_container {
  width: 943px;
  margin: 0 auto; }

#search_field {
  width: 850px;
  height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #4c4c4c;
  padding: 10px;
  border: none;
  display: inline-block; }

#search_field:focus {
  outline: none; }

.search_icon {
  width: 30px;
  padding-top: 5px;
  opacity: .5;
  display: inline-block; }

.icon_field {
  float: left; }

#clear_field {
  text-decoration: none;
  text-indent: -99999px;
  display: block; }

.page_container {
  width: 943px;
  margin: auto;
  position: relative; }

#logotext {
  font-size: 32px;
  padding-left: 20px; }

.navbar-fixed-top {
  width: 100%;
  height: 49px;
  background-color: #7DB48C;
  border-bottom: 1px solid white; }

#top_nav {
  width: 943px;
  margin: 0 auto;
  font-family: Roboto;
  overflow: hidden;
  border-bottom: 1px solid white; }

#logocan {
  background: url(/assets/logocan_v13.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 96px;
  height: 49px;
  transition: .2s; }

#logocan:hover {
  background: url(/assets/logocan_v13.png) 0px 48px; }

.nav_contents {
  float: left;
  text-decoration: none;
  color: white; }

.nav_content_right {
  float: right;
  margin-top: 12px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  opacity: .8; }

.nav_content_right:hover {
  opacity: 1;
  text-shadow: -1px 1px 7px #fff; }

#nav_icon {
  height: 22px;
  vertical-align: middle;
  opacity: 1; }

#nav_upload {
  height: 19px;
  vertical-align: middle;
  opacity: 1; }

.key_icon {
  padding-top: 20px;
  width: 90px;
  margin: 0 auto; }

.whole_page_container {
  min-height: 650px;
  width: 100%;
  background-color: #7DB48C; }

h1 {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 70px; }

#super-container {
  margin: 0 auto; }

.auth_form {
  padding: 10px;
  width: 380px;
  margin: 0 auto;
  font-size: 20px; }

.auth_btn {
  padding: 10px;
  background-color: #878787;
  text-decoration: none;
  border-radius: 5px;
  width: 190px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-left: 213px; }

.single_tags {
  display: inline-block;
  background: #ecb842;
  text-decoration: underline; }

.single_tags:hover {
  color: gray;
  text-decoration: none; }

.user_profile_page {
  margin-top: 40px;
  width: 100%;
  min-height: 800px;
  background-color: #7DB48C; }

.greeting {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 20px; }

#feed {
  width: 700px;
  position: absolute;
  left: 0; }

.feed_table_wrapper {
  display: inline-block;
  vertical-align: top; }

.feed_table {
  margin: 0;
  width: 500px;
  height: 90px;
  border: 2px solid white; }

th.user_th {
  height: 20px;
  border: 2px solid white;
  overflow: hidden; }

.first_td {
  text-align: center; }

.feed_table_data {
  margin: 0;
  padding: 0;
  text-align: center; }

.user_sound_tags {
  width: 86px;
  height: 86px;
  float: left;
  background: rgba(125, 180, 140, 0.9);
  border: 2px solid white;
  line-height: 20px;
  margin-right: 5px;
  position: relative; }

.user_sound_tags:hover {
  background: #ecb842; }

.user_play_btn {
  width: 30px;
  position: absolute;
  top: 42px;
  left: 29px;
  opacity: .8;
  transition: .2s; }

.user_play_btn:hover {
  opacity: 1; }

#add_sound_p {
  position: absolute;
  right: 0;
  height: 400px;
  width: 300px;
  margin-top: -2px; }

.user_footer {
  position: absolute;
  bottom: 0;
  left: 0; }

.upload_sound_header {
  position: absolute;
  top: 160px;
  right: 30px;
  width: 150px;
  font-size: 20px;
  text-align: center;
  opacity: .7;
  transition: .3s; }

.upload_sound_header:hover {
  opacity: 1; }

.uploadist {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 150px; }

#upload_title {
  text-align: center; }

.new_sound_form {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  font-size: 14px; }

.upload_sound_btn {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
  width: 100%;
  vertical-align: middle; }
.sounds_container {
  margin-top: 100px; }

#pad_container {
  margin-top: 50px;
  border: 1px solid antiquewhite;
  width: 943px;
  height: 220px; }

.pads {
  width: 103px;
  height: 103px;
  background: #969696;
  border: 2px solid #7DB48C;
  float: left;
  margin-right: 10px;
  margin-bottom: 2px; }

#pad1, #pad9 {
  margin-left: 7px; }

#play_song_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 53px;
  background: #7DB48C;
  text-align: center;
  line-height: 30px;
  margin-top: 11px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }

#play_song_btn:hover {
  box-shadow: none;
  text-shadow: none; }

.play_controls {
  height: 40px;
  width: auto; }

.stop_controls {
  height: 15px;
  width: auto;
  margin-top: 12px; }

#stop_song_btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 8px;
  background: indianred;
  text-align: center;
  line-height: 30px;
  margin-top: 11px;
  color: brown;
  font-weight: bold;
  font-size: 20px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }

#stop_song_btn:hover {
  box-shadow: none;
  text-shadow: none; }

.sound_tags {
  width: 90px;
  height: 90px;
  float: left;
  background: rgba(125, 180, 140, 0.9);
  border: 2px solid #7db48c;
  line-height: 20px;
  margin-right: 5px;
  position: relative; }

.sound_tags:hover {
  background: #ecb842; }

ul {
  vertical-align: top;
  list-style: none;
  padding-left: 0; }

#ui_container {
  width: 182px;
  height: 300px;
  border: 2px solid #7DB48C;
  position: fixed;
  right: 0;
  top: 104px; }

#tag_cloud {
  padding-top: 10px;
  width: 186px;
  height: 120px;
  line-height: 1.6em;
  position: fixed;
  right: 0;
  top: 411px;
  color: #ecb842;
  background: #7DB48C; }
  #tag_cloud .s {
    font-size: 10px; }
  #tag_cloud .m {
    font-size: 15px; }
  #tag_cloud .l {
    font-size: 20px; }

.tags_class {
  color: white;
  overflow: hidden; }

.tags_class:hover {
  color: gray;
  text-decoration: none; }

.sound_grid_name {
  width: 100%;
  border-bottom: 1px solid white;
  position: absolute;
  top: 0;
  font-size: 16px;
  height: 27px;
  line-height: 27px;
  text-align: center; }

.sound_grid_name:hover {
  transition: .7s;
  background-color: white;
  color: #7DB48C; }

.sound_name {
  color: white;
  text-decoration: none;
  width: 90px; }

.sound_name:hover {
  transition: .7s;
  background-color: white;
  color: #7DB48C;
  text-decoration: none; }

.play_btn {
  width: 30px;
  position: absolute;
  top: 37px;
  left: 29px;
  opacity: .8;
  transition: .2s; }

.play_btn:hover {
  opacity: 1; }

.sound_rating {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 4px;
  font-size: 19px;
  vertical-align: bottom;
  line-height: 34px;
  color: white; }

.download_btn {
  width: 27px;
  height: 27px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .8;
  transition: .2s; }

.download_btn:hover {
  opacity: 1.2; }

#wx-waveform {
  width: 100%;
  height: 100px;
  margin: 0px auto;
  position: fixed;
  bottom: 0;
  left: 0; }
#welcome_div {
  width: 100%;
  min-height: 350px;
  margin: 0;
  background-color: #7DB48C;
  position: relative; }

.header_text {
  width: 943px;
  margin: 0 auto;
  color: white;
  font-family: Roboto-Thin;
  font-size: 63px;
  margin-bottom: -20px; }

.text1 {
  padding-top: 60px; }

#world {
  color: #ecb842; }

#main_search_bar_div {
  width: 100%;
  text-align: center;
  background-image: url(/assets/green_gobbler.png);
  position: relative; }

#main_search_bar {
  width: 943px;
  height: 52px;
  margin: 25px auto;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid #7DB48C;
  color: #4c4c4c;
  padding-left: 10px;
  min-width: 380px; }

#main_search_bar:focus {
  outline: none; }

#down_arrow {
  position: absolute;
  width: 80px;
  margin-left: 12%;
  margin-top: -30px; }

#recent_banner {
  width: 130px;
  position: absolute;
  left: 0;
  top: 530px; }

#recent_container {
  width: 943px;
  height: 400px;
  margin: 45px auto; }

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0; }

#fun_canvas {
  margin: 0;
  width: 100%;
  height: 95px;
  background-color: #4c4c4c; }

.cancan {
  position: absolute;
  bottom: 0;
  right: 0; }
