
<h1>Welcome User</h1>

<div id = "username">
  <%= session[:user_id] %>
</div>

<p>
   <%= button_to "See Profile", user_path(current_user), method: :get %>
   <%= button_to "Logout", authentication_path(current_user), method: :delete %>
</p>
