<div class="page_container">

  <div id="playback_controls">

    <select id="song_selection" class="pb_controllers">
      <option value="0" selected="selected" disabled="disabled">Choose A Daft Punk Song</option>
      <option value="1">Harder, Better, Faster, Stronger</option>
    </select>

    <div id="play_song_btn_wrapper" class="pb_controllers">
      <%= image_tag "play_song.svg", id: "play_song_btn" %>
    </div>

    <div id="stop_song_btn_wrapper" class="pb_controllers">
      <%= image_tag "stop.svg", id: "stop_song_btn" %>
    </div>
  
  </div>
  
	<div id="pad_container">
    <div class="pads" id="pad1">Q</div>
    <div class="pads" id="pad2">W</div>
    <div class="pads" id="pad3">E</div>
    <div class="pads" id="pad4">R</div>
    <div class="pads" id="pad5">P</div>
    <div class="pads" id="pad6">O</div>
    <div class="pads" id="pad7">I</div>
    <div class="pads" id="pad8">U</div>
    <div class="pads" id="pad9">A</div>
    <div class="pads" id="pad10">S</div>
    <div class="pads" id="pad11">D</div>
    <div class="pads" id="pad12">F</div>
    <div class="pads" id="pad13">J</div>
    <div class="pads" id="pad14">K</div>
    <div class="pads" id="pad15">L</div>
    <div class="pads" id="pad16">;</div>
  </div>

	  <!-- <div><%# button_to "Back to Profile", user_path(current_user), method: :get %></div> -->
</div>

<div class="sounds_container">
  <h3 id="sounds_index_header">PREVIEW OR DRAG SOUNDS TO PADS ABOVE</h3>
  <div class="page_container">
    <%= render "recent" %>
  </div>
</div>

<canvas id="wx-waveform"></canvas>

<script>
  var playbtn = $("#play_song_btn_wrapper");
  var stopbtn = $("#stop_song_btn_wrapper");

  stopbtn.hide();

  $('#song_selection').change(function(event) {
    event.preventDefault();

    if($(this).val() === "1") {

      $('#playback_controls').append('<%= audio_tag "trunc_HBFS.mp3", id: "daft_punk" %>');

      $("#play_song_btn_wrapper").on('click', function(event) {
        event.preventDefault();
        $("#daft_punk")[0].play();
        $("#play_song_btn_wrapper").hide();
        $("#stop_song_btn_wrapper").show();
        return false;
      })

      $("#stop_song_btn_wrapper").click(function(event) {
        event.preventDefault();
        $("#daft_punk")[0].pause();
        $("#play_song_btn_wrapper").show();
        $("#stop_song_btn_wrapper").hide();
        return false;
      })
    };
  });
</script>