<div class="page_container">
	<% if @sounds.empty? %>
	  <h3>No sounds found!</h3>
	<% else %>
	  <% @sounds.each do |sound| %>
	    <ul>
	      <li><%= sound.sound_name%> <%= sound.description%> <%= sound.location%></li>
	    </ul>
	  <% end %>
	<% end %>
</div>