// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.sound_tags {
	width: 90px;
	height: 90px;
	float: left;
	background: rgba(darkseagreen, .9);
	text-align: center;
	border-left: 1px solid white;
	line-height: 20px;

}

ul {
	vertical-align: top;
	list-style: none;
	padding-left:0;
}

#upload_box {
	width: 186px;
	height: 70px;
	background-color: yellow;
	position: fixed;
	right: 0;
	top: 77px;
}

#ui_container {
	width: 186px;
	height: 300px;
	background-color: red;
	position: fixed;
	right: 0;
	top: 147px;
}

// #upload_box {
// 	width: 100px;
// 	height: 100px;
// 	background-color: yellow;
// 	position: fixed;
// 	right: 0;
// 	top: 70px;
// }

// #wx-waveform {
// 	width: 100%;
// 	height: 200px;
// 	margin: 60px auto;
// 	position: fixed;
// 	top: 40;
// 	left: 0;
// 	z-index: -2;
// }

// #wx-waveform2 {
// 	width: 100%;
// 	height: 200px;
// 	margin: 60px auto;
// 	background-color: yellow;
// 	position: fixed;
// 	top: 200;
// 	left: 0;
// 	z-index: -2
// }