// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.sounds_container {
	margin-top: 100px;
}

#pad_container {
	margin-top: 90px;
	width: 943px;
	height: 220px;
}

.pads {
	width: 103px;
	height: 103px;
	background: #969696;
	border: 2px solid #7DB48C;
	float: left;
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 9px;
	font-size: 20px;
}

// #pad1, #pad9 {
// 	margin-left: 7px;
// }

#playback_controls {
	position: absolute;
	left: 2px;
	top: -37px;
}

#song_selection {
	width: 167px;
	height: 26px;
	padding-left: 4px;
	border-radius: 0;
	border: 1px solid #7DB48C;
	border-top: none;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.pb_controllers {
	vertical-align: middle;
	display: inline-block;
}

#progress_bar {
	height: 26px;
	vertical-align: middle;
	-webkit-appearance: none;
}

small {
	color: black;
}

#play_song_btn_wrapper {
	width: 25px;
	height: 25px;
	background: #7DB48C;
	text-align: center;
	box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
#play_song_btn_wrapper:hover {
	box-shadow: none;
	text-shadow: none;
}

#play_song_btn {
	height: 25px;
	width: auto;
}

#stop_song_btn_wrapper {
	width: 25px;
	height: 25px;
	background: indianred;
	text-align: center;
	line-height: 30px;
	box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
#stop_song_btn_wrapper:hover {
	box-shadow: none;
	text-shadow: none;
}

#stop_song_btn {
	height: 10px;
	margin-bottom: 4px;
}


.sound_tags {
	width: 90px;
	height: 90px;
	float: left;
	background: rgba(125, 180, 140, 0.9);
	border: 2px solid rgb(125, 180, 140);
	line-height: 20px;
	margin-right: 5px;
	position: relative;
}
.sound_tags:hover {
	background: #ecb842;
}

ul {
	vertical-align: top;
	list-style: none;
	padding-left:0;
}

#ui_container {
	width: 182px;
	height: 300px;
	border: 2px solid #7DB48C;
	position: fixed;
	right: 0;
	top: 104px;
}

#tag_cloud {
	padding-top: 10px;
  width: 186px;
  height: 120px;
  line-height: 1.6em;
  .s { font-size: 10px; }
  .m { font-size: 15px; }
  .l { font-size: 20px; }
  position: fixed;
	right: 0;
	top: 411px;
	color: #ecb842;
	background: #7DB48C;
}

.tags_class {
	color: white;
	overflow: hidden;
}
.tags_class:hover {
	color: gray;
	text-decoration: none;
}

.sound_grid_name {
	width: 100%;
	border-bottom: 1px solid white;
	position: absolute;
	top: 0;
	font-size: 16px;
	height: 27px;
	line-height: 27px;
	text-align: left;
	margin-left: 4px;
}

#plus_sign {
	text-align: right;
	color: white;
	text-decoration: none;
}

.sound_name {
	color: white;
	text-decoration: none;
	width: 90px;
}
.sound_name:hover {
	transition: .7s;
	background-color: white;
	color: #7DB48C;
	text-decoration: none;
}

.play_btn {
	width: 30px;
	position: absolute;
	top: 37px;
	left: 29px;
	opacity: .8;
	transition: .2s;
}
.play_btn:hover {
	opacity: 1;
}

.sound_rating {
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 4px;
	font-size: 19px;
	vertical-align: bottom;
	line-height: 34px;
	color: white;
}

.download_btn {
	width: 27px;
	height: 27px;
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: .8;
	transition: .2s;
}
.download_btn:hover {
	opacity: 1.2;
}

#wx-waveform {
	width: 100%;
	height: 100px;
	margin: 0px auto;
	position: fixed;
	bottom: 0;
	left: 0;
}

// #wx-waveform2 {
// 	width: 100%;
// 	height: 200px;
// 	margin: 60px auto;
// 	background-color: yellow;
// 	position: fixed;
// 	top: 200;
// 	left: 0;
// 	z-index: -2
// }