// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.sound_tags {
	width: 85px;
	height: 85px;
	display: inline-block;
	background: darkseagreen;
	text-align: center;
}


#wx-waveform {
	width: 100%;
	height: 200px;
	margin: 60px auto;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}

#wx-waveform2 {
	width: 100%;
	height: 200px;
	margin: 60px auto;
	background-color: yellow;
	position: fixed;
	top: 200;
	left: 0;
	z-index: -2
}