@font-face {
  font-family: RobotoThin;
  src: url("/assets/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#welcome_div {
	width: 100%;
	min-height: 350px;
	margin: 0;
	background-color: #7DB48C;
	position: relative;
}

.header_text {
	width: 943px;
	margin: 0 auto;
	color: white;
	font-family: Roboto;
	font-size: 63px;
	margin-bottom: -20px;
}

.text1 {
	padding-top: 60px;
	position: relative;
}

#animated_waveform {
	position: absolute;
	right: 66px;
	top: 167px;
	transform: rotate(-32deg);
	-ms-transform: rotate(-32deg);
	-webkit-transform: rotate(-32deg);
	width: 180px;
	height: 69.5px;
	background: asset-url("waveform.svg") 0px 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	transition: .3s;
}


#large_logo {
	position: absolute;
	right: 0;
	top: 160px;
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
}

#world {
	color: #ecb842;
}

#main_search_bar_div {
	width: 100%;
	text-align: center;
	background-image: asset-url("green_gobbler.png");
	position: relative;
}

#search_wrapper {
	position: relative;
	width: 944px;
	margin: 0 auto;
}

#main_search_bar {
	width: 943px;
	height: 52px;
	margin: 25px auto;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid #7DB48C;
	color: #4c4c4c;
	padding-left: 10px;
	min-width: 380px;
}
#main_search_bar:focus {
	outline: none;
}

#down_arrow {
	position: absolute;
	width: 80px;
	left: -10px;
	margin-top: -30px;
}

#recent_wrapper {
	width: 100%;
	background: white;
	margin: -46px auto;
	padding-top: 46px;
}

#recent_banner {
	width: 100px;
	position: absolute;
	left: 0;
	top: 530px;
}

#recent_container {
	width: 943px;
	height: 400px;
	margin: 45px auto;
}

footer {
	height: 23px;
	text-align: right;
	width: 100%;
	position: fixed;
	background: dimgrey;
	bottom: 0;
	left: 0;
}

#footer {
	width: 943px;
	margin: 0 auto; 
}

.footer_info {
	display: inline-block;
	margin: 0;

}

.jam_feature {
	text-align: left;
	float: left;
	line-height: 23px;
	padding-left: 5px;
	padding-right: 5px;
}

#fun_canvas {
	margin: 0;
	width: 100%;
	height: 95px;
	background-color: #4c4c4c;
}

.cancan {
	position: absolute;
	bottom: 0;
	right: 0;
}

#jammin {
	text-decoration: none;
	color: white;
}
#jammin:hover {
	color: #ecb842;
}

#jammin_div {
	background: #7DB48C;
	width: 180px;
	height: 20px;
	text-align: center;
	position: absolute;
	right: 240px;
}
#jammin_div:hover {
	color: #ecb842;
	background: white;
}