@font-face {
    font-family: RobotoThin;
    src: url("/assets/Roboto-Thin.ttf") format("truetype");
    font-weight: normal;
	  font-style: normal;
}

#welcome_div {
	width: 100%;
	min-height: 350px;
	margin: 0;
	background-color: #7DB48C;
	position: relative;
}

.header_text {
	width: 943px;
	margin: 0 auto;
	color: white;
	font-family: RobotoThin;
	font-size: 63px;
	margin-bottom: -20px;
}

.text1 {
	padding-top: 60px;
}

#world {
	color: #ecb842;
}

#main_search_bar_div {
	width: 100%;
	text-align: center;
	background-image: asset-url("green_gobbler.png");
	position: relative;
}

#main_search_bar {
	width: 943px;
	height: 52px;
	margin: 25px auto;
	font-size: 25px;
	font-weight: bold;
	border: 1px solid #7DB48C;
	color: #4c4c4c;
	padding-left: 10px;
	min-width: 380px;
}
#main_search_bar:focus {
	outline: none;
}

#down_arrow {
	position: absolute;
	width: 80px;
	margin-left: 12%;
	margin-top: -30px;
}

#recent_banner {
	width: 100px;
	position: absolute;
	left: 0;
	top: 530px;
}

#recent_container {
	width: 943px;
	height: 400px;
	margin: 45px auto;
}

footer {
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
}

#fun_canvas {
	margin: 0;
	width: 100%;
	height: 95px;
	background-color: #4c4c4c;
}

.cancan {
	position: absolute;
	bottom: 0;
	right: 0;
}

#jammin {
	background: #7DB48C;
	width: 180px;
	height: 20px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
	color: white;
	position: absolute;
	right: 240px;
}
#jammin:hover {
	color: #ecb842;
	background: white;
}