<!DOCTYPE html>
<html>
<head>
  <title>HearHere</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top top_nav">
		<p class="nav_content_right">Log in</p>
		<p class="nav_content_right">Sign Up</p>
	</div>
	<div class="navbar navbar-fixed-top appended_nav">
		test
	</div>

<%= yield %>

</body>
</html>
